{% extends "layout.html" %}

{% block content %}

<h2>Your Medications</h2>

<a href="/add" class="btn btn-success mb-3">
    Add Medication
</a>

<table class="table table-bordered">

    <tr>
        <th>Name</th>
        <th>Dosage</th>
        <th>Time</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>

    {% for med in medications %}
    <tr>

        <td>{{ med.name }}</td>
        <td>{{ med.dosage }}</td>
        <td>{{ med.time }}</td>
        <td>{{ med.status }}</td>

        <td>

            <a href="/taken/{{ med.id }}"
               class="btn btn-success btn-sm">
               Taken
            </a>

            <a href="/edit/{{ med.id }}"
               class="btn btn-warning btn-sm">
               Edit
            </a>

            <a href="/delete/{{ med.id }}"
               class="btn btn-danger btn-sm">
               Delete
            </a>

        </td>

    </tr>
    {% endfor %}

</table>

{% endblock %}
